<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PollSystemUI -->
      <package
            uri="http://www.esir.fr/imse/PollSystemUI"
            class="fr.esir.imse.pollSystemUI.PollSystemUIPackage"
            genModel="model/generated/PollSystemUI.genmodel"/>
   </extension>

</plugin>
